// Variables
$page-gutter: 48px;

// Color definitions
$color-white: #fff;
$color-soft-cyan: #44d9cd;
$color-soft-pink: #d9449b;
$color-soft-orange: #d98344;

$color-theme-primary: $color-soft-cyan;
$color-theme-secondary: $color-soft-pink;
$color-theme-tertiary: $color-soft-orange;

/* https://www.websitebuilderexpert.com/pick-best-font-style-for-website/
 * Recommended Font Sizes: 8, 16, 24, 32, 48, 64, 95
 */
